/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1rem;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/

/***** CSS var & recurrent *****/
:root { 
--main-color: black;
--main-less-contrast-color: #3D3D3D;
--main-bg-color: white;
--primary-color: #1D6154;
--secondary-color: #B1663C;
--hide-button-color: #A7A7A7;
--add-image-color: #E8F1F7;
--add-image-btn-text-color: #306685;
}




a, nav {
	color: var(--main-color);
	text-decoration: none;	
}
a:hover, nav:hover {
	color: var(--primary-color);
	cursor: pointer;	
}
/***** end CSS var *****/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 2rem;
}
/* main {
	margin: 0 2rem;
} */
section {
	margin: 2rem 4rem;
}
h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: var(--secondary-color);
}
h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}
h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: var(--primary-color);
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
nav li:hover {
	color: var(--primary-color);
}

#introduction {
	display: flex;
	align-items: center;
	margin-bottom: 6rem;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	/* margin: auto; */
	width: 80%;
}
#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}
#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
}
#portfolio .gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
#portfolio .gallery img {
	width: 100%;

}


#contact, #authentication {
	width: 50%;
	margin: auto;
}
#contact > *, #authentication > * {
	text-align: center;

}
#contact h2, #authentication h2{
	margin-bottom: 20px;
}
#contact form, #authentication form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}
#contact input, #authentication input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding: 0 1em;
}
#contact label, #authentication label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#authentication h2 {
	display: flex;
	justify-content: center;
    align-items: center;
}
#forgotpassword {
	display: flex;
	justify-content: center;
    align-items: center;
	text-decoration: underline;
}
input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: var(--main-bg-color);
	background-color: var(--primary-color);
	margin : 2em auto ;
	padding: 0 5em;
	text-align: center;
	border-radius: 60px ;
}
#authentication input[type="submit"]{
	padding: 0 4em;
}
input[type="submit"]:hover{
	opacity: 0.75;
	cursor: pointer;
}
label {
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 1;
	color: var(--main-less-contrast-color);
	gap: 1em;
	transition: all 0.2s;
}
label .password-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 1;
	top: 3em;
	right: 1em;
	color: var(--secondary-color);
	transition: all 0.2s;
}
label .password-icon:hover {
	cursor: pointer;
	opacity: 0.80;
}
label .password-icon .icon-eye {
	display: none;
	color: var(--primary-color);
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

#filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	justify-content: center;
    align-items: center;
	gap: 1em;
    margin: 3em 0; 
}
#filters .button, #modale .button {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
	font-family: 'Syne';
    font-size: 1rem;
	line-height: 1.5em;
    font-weight: 700;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 60px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding: 0.75em;
    min-width: 6em; 
	cursor: pointer;
}
#filters .button:hover, #modale .button {
    background-color: var(--primary-color);
	color: var(--main-bg-color);
}
#modale .button {
	height: 2em;
	width: fit-content; 
	padding: 1em 2em;
	/* margin-bottom: 3rem; */
}
#modale .button:hover {
	opacity: 0.80;
}
#modale .hide-button {
	opacity: 1;
	background: var(--hide-button-color);
	border-color: var(--hide-button-color);
	cursor: not-allowed;
}

#edition {
	position: relative;
	z-index: 2;
	/* top: 0; */
	/* right: 0; */
	/* height: 1rem; */
	width: 100%;
	margin: 0;
}

#editing-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--main-color);
	color: var(--main-bg-color);
	margin: 0;
	height: 3rem;
	gap: 0.5em;

}
.fa-pen-to-square {
 	font-size: 1em;
 	font-weight: 500;
}
.fa-pen-to-square:hover {
	cursor: pointer;
}

.edit {
	
	/* position: relative; */
	/* isolation: isolate; */
	color: var(--main-color);
	font-family: 'Work Sans' ;
	font-size: 1rem;
	font-weight: 500;
	padding-left: 1em;
}

.edit:hover {
	cursor: pointer;
	color: var(--primary-color);
}

.hidden {
	visibility: hidden;
}
#background-modale {
	display: none;
	position: fixed;
	z-index: 2;
	height: 100vh;
	width: 100vw;
	max-width: 1140px;
	background: var(--main-less-contrast-color);
	opacity: 0.5;
	margin-top: -3rem;
}
#background-modale:hover {
	cursor: move;
}
#modale {
	/* 1140px */
	/* --modale-size: clamp(30vmin, 50rem, 85vmin); */
	--modale-size: clamp(30vmin, 45rem, 80vmin);
	display: block;
	position: fixed;
	z-index: 3;
	top: calc((100vh - var(--modale-size)) / 2);
	right: calc((100% - var(--modale-size)) / 2);
	height: var(--modale-size);
	width: var(--modale-size);
	background: var(--main-bg-color);
	border-radius: 2%;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding: 1rem;
	margin-right: -1rem ;
}
.modale__header {
	position: sticky;
	top: 5%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}
.material-symbols-outlined {
	font-size: 1rem;
	font-weight: 700;
}
#modale .material-symbols-outlined:hover {
	opacity: 0.75;
	cursor: pointer;
}
#modale-arrow-back {
	visibility: hidden;
}
.content-modale {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 100%;
	padding: 1rem 0;
}
.bottom-modale {
	position: fixed;
	bottom: calc((100vh - var(--modale-size)) / 2);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.title-modale {
	position: sticky;
	top: 10%;
	font-size: 1.2rem;
}

.line-modale {
	/* z-index: 1; */
	width: calc(var(--modale-size) / 1.5);
	height: 0px;
	border: 1px solid #B3B3B3;
	/* box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.09); */
	margin-bottom: 2rem;
}

/* #btn-modale--validation {
	
} */

#modale .gallery-modale {
	/* 1140px */
	--gallery-modale-size: clamp(45vmin, 30rem, 65vmin);
	position: fixed;
	z-index: 3;
	top: calc((100% - (var(--modale-size) / 2)) / 2);
	/* height: calc(var(--modale-size) / 2); */
	/* margin-top: -2rem; */
	width: calc(var(--modale-size) / 1.5);
	/* margin-top: calc((var(--modale-size) - var(--gallery-modale-size)) / 2); */
	
	/* height: calc(var(--modale-size) / 2); */
	/* padding: 3rem 0; */
	/* align-self: center; */
	/* justify-self: center; */


	display: grid;
	align-items: center;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;

	/* outline: red 2px solid; */

}
#modale .gallery-modale img {
	position: relative;
	z-index: 4;
	width: 100%;
	/* justify-content: flex-end;	 */
}
#modale figure {
	display: flex;
	justify-content: end;
}
#modale figure button {
	position: fixed;
	z-index: 5;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--main-color);
	border: none;
	border-radius: 20%;	
	height: 1.5rem;
	width: 1.5rem;
	margin: 0.5vmin;
}
#modale .gallery-modale .fa-trash-can {
	position: relative;
	z-index: 5;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--main-bg-color);
	height: 100%;
	width: 100%;
}
#modale #btn-trash:hover {
	cursor: pointer;
}
#modale #btn-trash:hover + img {
	opacity: 0.8;
}

#modale .add-img-modale {
	visibility: collapse;
	position: fixed;
	top: calc((100vh - var(--modale-size)) / 2);
	z-index: 3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: calc(var(--modale-size) / 1.5);
	height: var(--modale-size);
	/* max-height: var(--modale-size); */
	padding-top: 2rem;
	/* outline: pink 2px solid; */
}
#modale .add-img-modale form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 5%;
	width: 100%;
	height: 100%;
	/* max-height: 100%; */
}
#modale .add-img-modale input {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	height: 3em;
	max-height: 6vmin;
}
#modale .add-img-modale select {
	background-color: var(--main-bg-color);
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	height: 4em;
	max-height: 6vmin;
	cursor: pointer;
	color: var(--hide-button-color);
}
option {
	color: var(--main-color);
}
#option-filter_00 {
	/* opacity: 0.75; */
	color: var(--hide-button-color);
}
#modale #titre {
	height: 4em;
	max-height: 6vmin;
}
#modale .frame-add-img {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--add-image-color);
	color: var(--hide-button-color);
	width: 100%;
	/* height: 15rem !important; */
	/* max-height: 16vmin !important; */
	margin-top: 4rem;
	cursor: pointer;
	/* padding: 1rem; */
	border-radius: 0.2rem;
}
#modale .fa-image {
	font-size: 4rem;
	margin-top: 1rem;
}
#modale .frame-add-img .button {
	border: var(--hide-button-color);
	background-color: var(--hide-button-color);
	color: var(--add-image-btn-text-color);
	height: 1rem;
}
#modale .frame-add-img input {
	/* visibility: hidden; */
	opacity: 0;
	background-color: #E8F1F7;
	width: 100%;
	height: 2rem !important;
	/* height: 1rem !important; */
	/* height: 15rem !important; */
	/* max-height: 16vmin !important; */
	margin-top: -3rem;
}
#modale .frame-add-img:focus-within {
	outline: 2px solid black;
}

#show-img-download {
	max-height: calc(var(--modale-size) / 4);
	max-width: calc(var(--modale-size) / 1.5);
}

.modale__header button {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: 50%;
	padding: 0.5em;
	background: transparent;
}

