/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1rem;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers  */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/

/***** CSS var & recurrent *****/
:root { 
--main-color: black;
--main-less-contrast-color: #3D3D3D;
--main-bg-color: white;
--primary-color: #1D6154;
--secondary-color: #B1663C;
--hide-button-color: #A7A7A7;
--add-image-color: #E8F1F7;
--add-image-icon-color: #CBD6DC;
--add-image-btn-text-color: #306685;
}
*:focus-visible {
	border: none;
	outline: 3px solid var(--primary-color);
	outline-offset: 3px;
}
a, nav {
	color: var(--main-color);
	text-decoration: none;	
}
a:hover, nav:hover, a:focus-visible, nav:focus-visible  {
	color: var(--primary-color);
	cursor: pointer;	
}
/***** end CSS var *****/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 2rem;
}
section {
	margin: 2rem 4rem;
}
h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: var(--secondary-color);
}
h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}
h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: var(--primary-color);
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
nav li:hover, nav li a:focus-visible {
	color: var(--primary-color);
}

#introduction {
	display: flex;
	align-items: center;
	margin-bottom: 6rem;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	width: 80%;
}
#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}
#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
}
#portfolio .gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
#portfolio .gallery img {
	width: 100%;
}
.gallery button {
	background: transparent;
	border: none;
	padding-top: 0.4rem;
}
.gallery button:hover, .gallery button:focus-visible {
	cursor: pointer;
	opacity: 0.75;
}
#contact, #authentication {
	width: 50%;
	margin: auto;
}
#contact > *, #authentication > * {
	text-align: center;

}
#contact h2, #authentication h2{
	margin-bottom: 20px;
}
#contact form, #authentication form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}
#contact input, #authentication input {
	font-size: 1rem;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding: 1em;
}
#contact .button-contact {
	min-width: 15rem;
}
#contact label, #authentication label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#authentication h2 {
	display: flex;
	justify-content: center;
    align-items: center;
}
#authentication form {
	display: flex;
	/* justify-content: center; */
    /* align-items: center; */
	width: 100%;
}
#forgotpassword {
	display: flex;
	justify-content: center;
    align-items: center;
	text-decoration: underline;
}
input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: var(--main-bg-color);
	background-color: var(--primary-color);
	margin : 2em auto ;
	padding: 0 5em;
	text-align: center;
	border-radius: 60px ;
}
#authentication input[type="submit"]{
	padding: 0 4em;
}
input[type="submit"]:hover{
	opacity: 0.75;
	cursor: pointer;
}
label {
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 1;
	color: var(--main-less-contrast-color);
	gap: 1em;
	transition: all 0.2s;
}
#input-password {
	display: flex;
	flex-direction: row;
	width: 100%;
}
#input-password #password-id {
	width: 100%;
}
#input-password button {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background: transparent;
	width: 2rem;
	margin-left: -2rem;
}
button .password-icon:hover, button .password-icon:focus-visible {
	opacity: 0.80;	
	cursor: pointer;
}
button .icon-eye {
	font-size: 1rem;
	display: none;
	color: var(--primary-color);
}
button .icon-eye-off {
	font-size: 1rem;
	display:block;
	color: var(--secondary-color);
}
#authentication #to-login-btn {
 padding: 0.5em 2em;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

#filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	justify-content: center;
    align-items: center;
	gap: 1em;
    margin: 3em 0; 
}
#filters .button, #modale .button {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
	font-family: 'Syne';
    font-size: 1rem;
	line-height: 1.5em;
    font-weight: 700;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 60px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding: 0.75em;
    min-width: 6em; 
	cursor: pointer;
}
#filters .button:hover, #filters .button:focus-visible, #modale .button {
    background-color: var(--primary-color);
	color: var(--main-bg-color);
}
#modale .button {
	height: 2em;
	width: fit-content; 
	padding: 1em 2em;
}
#modale .button:hover, #modale .button:focus-visible {
	opacity: 0.80;
}
#modale .hide-button {
	opacity: 1;
	background: var(--hide-button-color);
	border-color: var(--hide-button-color);
	cursor: not-allowed;
}
#modale .red-button {
	opacity: 1;
	background: red;
	border-color: red;
	cursor: not-allowed;
}
#edition {
	position: relative;
	z-index: 2;
	width: 100%;
	margin: 0;
}

#editing-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--main-color);
	color: var(--main-bg-color);
	margin: 0;
	height: 3rem;
	gap: 0.5em;

}
.fa-pen-to-square {
 	font-size: 1em;
 	font-weight: 500;
}
.fa-pen-to-square:hover {
	cursor: pointer;
}

.edit {
	color: var(--main-color);
	font-family: 'Work Sans' ;
	font-size: 1rem;
	font-weight: 500;
	padding-left: 1em;
	background: transparent;
	border: none;
}

.edit:hover, .edit:focus-visible {
	cursor: pointer;
	color: var(--primary-color);
}

.hidden {
	visibility: hidden;
}
#background-modale {
	display: none;
	position: fixed;
	z-index: 2;
	height: 105vh;
	width: 100vw;
	max-width: 1140px;
	background: var(--main-less-contrast-color);
	opacity: 0.5;
	margin-top: -3rem;
}
#background-modale:hover {
	cursor: pointer;
}
#modale {
	/* 1140px */
	--modale-size: clamp(30vmin, 45rem, 80vmin);
	position: fixed;
	z-index: 3;
	top: calc((100vh - var(--modale-size)) / 2);
	right: calc((100% - var(--modale-size)) / 2);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 2vmin;
	min-height: var(--modale-size);
	width: var(--modale-size);
	background: var(--main-bg-color);
	border-radius: 2%;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding: 2vmin;
	margin-right: -1rem ;
}
.modale__header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}
#modale__header__arrow-close {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}
.material-symbols-outlined {
	font-size: 1rem;
	font-weight: 700;
}
#modale .material-symbols-outlined:hover {
	opacity: 0.75;
	cursor: pointer;
}
#modale-arrow-back {
	visibility: hidden;
}
.content-modale {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1vmin 0;
}
.bottom-modale {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: calc(0.5rem + 1.5vmin);
	align-items: center;
}

.title-modale {
	display: flex;
	justify-content: center;
	font-size: 1.2rem;
	margin-bottom: calc(0.5rem + 1.5vmin);
}
.line-modale {
	display: flex;
	width: calc(var(--modale-size) / 1.5);	
	border-bottom: 1px solid #B3B3B3;
	margin-top: calc(0.5rem + 1.5vmin);
	margin-bottom: calc(0.25rem + 0.5vmin);
	justify-content: center;
	color: var(--secondary-color);
	font-size: 1.2rem;
}
#btn-modale--validation {
	margin-bottom: calc(0.5rem + 1.5vmin);
	height: calc(1.2rem + 2vmin) !important;
	max-width: calc(var(--modale-size) / 1.2) ;
	padding: 0 1.5em;
}
#modale .gallery-modale {
	/* 1140px */
	--gallery-modale-size: clamp(45vmin, 30rem, 65vmin);
	z-index: 3;
	width: calc(var(--modale-size) / 1.5);
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 1.25vmin;
	grid-row-gap: 2vmin;
}
#modale .gallery-modale img {
	position: relative;
	z-index: 4;
	width: 100%;
}
#modale figure {
	display: flex;
	justify-content: end;
}
#modale figure button {
	position: fixed;
	z-index: 5;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--main-color);
	border: none;
	border-radius: 20%;	
	height: 1.5rem;
	width: 1.5rem;
	margin: 0.5vmin;
}
#modale .gallery-modale .fa-trash-can {
	position: relative;
	z-index: 5;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--main-bg-color);
	height: 100%;
	width: 100%;
}
#modale #btn-trash:hover {
	cursor: pointer;
}
#modale #btn-trash:hover + img, #modale #btn-trash:focus-visible + img {
	opacity: 0.8;
}
/* ADD IMAGE */
#modale .add-img-modale {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: calc(var(--modale-size) / 1.5);
}
#modale .add-img-modale form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 2vmin;
	width: 100%;
	min-height: calc(var(--modale-size) / 1.2);
}
#modale .add-img-modale input {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	height: 3rem;
	padding: 0 1rem;
}
#modale .add-img-modale select {
	background-color: var(--main-bg-color);
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	height: 3rem;
	padding: 0 1rem;
	cursor: pointer;
	color: var(--hide-button-color);
}
option {
	color: var(--main-color);
}
#option-filter_00 {
	color: var(--hide-button-color);
}
#modale .frame-add-img {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--add-image-color);
	color: var(--hide-button-color);
	width: 100%;
	border-radius: 0.2rem;
}
#modale .fa-image {
	font-size: 4rem;
	margin-top: 1rem;
	color: var(--add-image-icon-color);
}
#modale .frame-add-img .button {
	border: var(--hide-button-color);
	background-color: var(--add-image-icon-color);
	color: var(--add-image-btn-text-color);
	max-height: 3rem;
	height: calc(1.2rem + 2vmin) !important;
	max-width: calc(var(--modale-size) / 1.2) ;
	padding: 0 1.5em;
	margin: 0.75em;
}
#format-add-image {
	margin-bottom: 1rem;
}
#modale .frame-add-img input {
	opacity: 0;
	background-color: var(--add-image-color);
	width: 100%;
	height: 2rem !important;
	margin-top: -1rem;
}
#modale .frame-add-img:focus-within {
	outline: 3px solid var(--primary-color);
	outline-offset: 3px;
}
#show-img-download {
	opacity: 1;
	max-height: calc(var(--modale-size) / 4);
	max-width: calc(var(--modale-size) / 1.5);
	margin-top: -0.5rem;
}

.modale__header button {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: 50%;
	padding: 0.5em;
	background: transparent;
}
#show-size-img-download {
	display: none;
	font-size: 1rem;
	margin-top: -2rem;
	margin-bottom: 0.25rem;
	color: var(--main-color);
	background: var(--add-image-color);
	opacity: 0.75;
	padding: 0.25em 0.5em;
	border-radius: 0.5em;
}
#bottom_form-add-img {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	padding: 0;
	margin-bottom: -0.75rem;
}
#bottom_form-add-img input{
	height: calc(1.2rem + 2vmin) !important;
	max-width: calc(var(--modale-size) / 1.2);
	min-width: calc(var(--modale-size) / 3);
}

/* Logo INSTAGRAM */
.glyph-instagram .glyph-instagram-black {
	display: block;
	justify-content: center;
	align-items: center;
	height: 1.5rem;
}
.glyph-instagram:hover .glyph-instagram-black {
	display: none;
}
.glyph-instagram:focus-visible .glyph-instagram-black {
	display: none;
}
.glyph-instagram .glyph-instagram-green {
	display: none;
	justify-content: center;
	align-items: center;
	height: 1.5rem;
}
.glyph-instagram:hover .glyph-instagram-green {
	display: block;
}
.glyph-instagram:focus-visible .glyph-instagram-green {
	display: block;
}

/* CAROUSEL */
#carousel {
	--modale-size: clamp(30vmin, 45rem, 80vmin);
	position: fixed;
	z-index: 3;
	top: calc((100vh - var(--modale-size)) / 4);
	right: calc((100% - var(--modale-size)) / 2);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: var(--modale-size);
	background: var(--main-bg-color);
	border-radius: 1rem;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding: 1rem;
}
#img-carousel {
	display: flex;
	align-items: center;
	justify-content: center;
	width: var(--modale-size);
	border-radius: 1rem;
}

.gallery figure {
	cursor: pointer;
}

/* Gestion des points du carrousel */
#carousel .arrow {
	position: absolute;
	background: transparent;
	border: none;
}
#carousel .arrow:hover, #carousel .arrow:focus-visible  {
	opacity: 0.75;
	color: var(--primary-color);
}
#carousel .arrow_left {
	left: 1.5rem;
}
#carousel .arrow_right {
	right: 1.5rem;
}
#img-name-carousel {
	font-size: 1.2rem;
	margin-top: -2.8rem;
	margin-bottom: 1rem;
	color: var(--main-color);
	background: var(--add-image-color);
	opacity: 0.75;
	padding: 0.25em 0.5em;
	border-radius: 0.5em;
}
#carousel-close {
	position: relative;
	display: flex;
	width: 100%;
	justify-content: right;
	border: none;
	color: var(--main-bg-color);
	background: transparent;
	padding: 0.5em;
	margin-top: 0.25rem;
	margin-bottom: -2.5rem;
}
#carousel-close:focus-visible {
	border: none;
	outline: none;
}
#carousel-close:focus-visible span {
	border: none;
	outline: 3px solid var(--primary-color);
	opacity: 0.80;
}
#carousel-close span{
	cursor: pointer;
	border-radius: 0.5em;
	font-size: 1.5rem;
	text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
